.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 0;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: lightgray;
    font-size: 30px;
    padding: 0 5px;
    cursor: pointer;
    display: inline-block;
}

.star-rating label span {
  display: block;
}

.star-rating input:checked ~ label {
    color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

.list-container div {
    width: 45%; /* Adjust this value as needed */
    margin: 10px;
    }

    li {
        margin: 10px 0;
    }

    li button {
        margin-left: 10px;
    }

.container {
    background-color:lightcyan
}    

    

